.banner {
	background-image: linear-gradient(rgba(0,0,100,0.3), rgba(200,200,200,0.3)),  url(../../images/logo.jpg);
	color: white;
	background-size: cover;
	background-position: center;
	padding: 150 px 50px;
	
}

.banner h1	{
	font-size: 75px;


}

.banner h2  {
	font-size: 25px;
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 60 px;
}

